* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.wrapper {
  max-width: 580px;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo {
  display: flex;
  flex-direction: column;
}

.todo>h1 {
  text-align: center;
}

.todo * {
  margin: 0.5em;
}
.todo-list-output {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .container {
    
    flex-direction: column;
  }

  .wrapper {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#685aa3, #e5d2bc);
  }
}